<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <div class="card-container">
        <h1>Tracks</h1>
        <ol>
            <% tracks.forEach(function (track) { %>
                <li><%= track.name %></li>
            <% }) %>
        </ol>
    </div>


</body>

</html>