a {
    color: black;
}

body {
    background-image: url('/images/spotify-background.jpeg');
    background-size: cover;
}


.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.card {
    width: 200px;
    height: 300px;
    display: grid;

}

.card img {
    width: 100%;
    max-height: 200px;
}